<div
  *ngIf="loading === true; else showTravelRoutes"
  class="d-flex align-items-center justify-content-center my-4"
>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #showTravelRoutes>
  <div class="container py-5">
    <div class="row g-4">
      <bus-card
        class="col-xl-3 col-md-4 col-6"
        *ngFor="let travel of travelRoute"
        [travelRoute]="travel"
        [attr.data-index]="travel.id"
      />
    </div>
  </div>
</ng-template>
