<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand m-0 me-5 fw-bold text-danger">Red Bus</h1>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isNavbarCollapsed"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav" *ngFor="let route of routes">
        <a
          class="nav-link"
          routerLinkActive="active fw-semibold text-black"
          [routerLinkActiveOptions]="{ exact: true }"
          aria-current="page"
          [routerLink]="route.path"
          >{{ route.name }}</a
        >
      </div>
    </div>
  </div>
</nav>

<main class="">
  <router-outlet />
</main>

<footer class="bg-danger py-5 text-white">
  <div class="container">
    <div class="row row-gap-2">
      <!-- About Us -->
      <div class="col-lg-4 col-md-6 col-12">
        <h5 class="fw-bold">About Us</h5>
        <p>
          We are a travel company committed to providing the best travel
          experiences with top-notch customer service and exclusive deals.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-4 col-md-6 col-12">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li>
            <a class="text-decoration-none">About</a>
          </li>
          <li>
            <a class="text-decoration-none">Services</a>
          </li>
          <li>
            <a class="text-decoration-none">Contact</a>
          </li>
          <li>
            <a class="text-decoration-none">FAQ</a>
          </li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-lg-4 col-md-6 col-12">
        <h5 class="fw-bold">Contact Info</h5>
        <p>
          <i class="bi bi-geo-alt"></i> 1234 Travel Street, City Name, Country
        </p>
        <p><i class="bi bi-phone"></i> +963 *** *** ***</p>
        <p><i class="bi bi-envelope"></i> contact&#64;myemail.com</p>
      </div>
    </div>
  </div>
</footer>
