<main id="search">
  <section
    class="hero bg-danger text-center text-white position-relative overflow-hidden"
  >
    <div class="container py-5">
      <h1 class="fw-bold display-4">Welcome to Our Company</h1>
      <p class="mb-4 lead">
        Here to take you anywhere, anytime. Your trusted travel partner!
      </p>
      <p>Search, book, <span class="fw-semibold">live your life</span></p>
    </div>

    <div
      class="overlay w-100 h-100 bg-dark d-none d-md-block position-absolute top-0 right-0 opacity-50"
    ></div>
  </section>
</main>
