#home .hero {
  background-image: url("../../assets/images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#home .overlay {
  z-index: -1;
}
#home section {
  padding: 50px 0;
}
