form {
  margin: -35px 0 50px;
}

@media (min-width: 768px) {
  .pill-input {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

@media (max-width: 768px) {
  form {
    border-radius: 0.5rem !important;
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    -ms-border-radius: 0.5rem !important;
    -o-border-radius: 0.5rem !important;
  }
  .rounded-circle {
    width: 50%;
    border-radius: 0.5rem !important;
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    -ms-border-radius: 0.5rem !important;
    -o-border-radius: 0.5rem !important;
  }
}
